<?xml version='1.0' encoding='UTF-8'?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <id>{{.URL}}</id>
    <title>{{.Title}}</title>
    <updated>{{.GeneratedISODate}}</updated>
    <link href="{{.URL}}/atom.xml" rel="self"/>
    <link href="{{.URL}}" rel="alternate"/>
    <generator uri="https://github.com/kconner/gloggery">gloggery</generator>
    {{range .LatestPosts 10}}
    <entry>
        <id>{{.URL}}</id>
        <title>{{.Title}}</title>
        <updated>{{.ISODate}}</updated>
        <link href="{{.URL}}" rel="alternate"/>
    </entry>{{end}}
</feed>
