=> . <- {{.Index.Title}}{{if or .NextPost .PreviousPost}}
{{with .NextPost}}
=> {{.Filename}} Next: {{.Title}}{{end}}{{with .PreviousPost}}
=> {{.Filename}} Previous: {{.Title}}{{end}}{{end}}

{{.ReadableDate}}

# {{.Title}}

{{.Body}}
